body{
  margin: 0px;
  font-family: Roboto;
}
/*Hero image*/
.header{
  min-height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.4)), url("photos/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

/*Responsive menu*/
#main-menu{
  height: 100px;
  width: 100%;
  display: relative;
  position:fixed;
}
#main-menu ul{
  max-width: 500px;
  width: 100%;
  height: 100%;
  display: inline-flex;
  float: right;
  justify-content: space-evenly;
  z-index: 5;
}
#main-menu li{
  list-style: none;
  font-weight: bolder;
}
#main-menu a{
  color: white;
  text-decoration: none;
}
#main-menu a:hover{
  color:#6cbe4c;
}
#main-menu a:active{
  color:#6cbe4c;
}
#hamburger-input{
  display: none;
}
#hamburger-menu{
  position: fixed;
  display: none;
  top: 15px;
  left: 20px;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    to bottom, 
    white, white 20%, 
    rgba(0,0,0,0) 20%, rgba(0,0,0,0) 40%, 
    white 40%, white 60%, 
    rgba(0,0,0,0) 60%, rgba(0,0,0,0) 80%, 
    white 80%, white 100%
  );
}
#hamburger-menu #sidebar-menu{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #6cbe4c;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
  z-index: 99;
}
#hamburger-menu ul{
  padding-left: 0px;
  z-index: 99;
}
#hamburger-menu li{
  list-style-type: none;
  font-weight: bolder;
  padding: 20px;
  z-index: 99;
}
#hamburger-menu a{
  text-decoration: none;
  color: white;
  z-index: 99;
}
#hamburger-menu a:hover{
  text-decoration: underline;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu{
  visibility: visible;
  left: 0;
  z-index: 99;
}
.text-box{
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 5;
}
.text-box h1{
  font-size: 80px;
  font-family: Vladimir Script;
  color: white;
  z-index: 5;
}
.text-box p1{
  font-size: 18px;
  margin: 0px 0px 80px;
  color: white;
  z-index: 5;
}
h2{
  font-size: 50px;
  color: #1d4286;
  text-align: center;
}

/*Responsive*/
 @media screen and (max-width: 700px){
  .text-box h1{
    font-size: 50px;
    z-index: 5;
  }
  #main-menu{
    display: none;
  }
  #hamburger-menu{
    display: inline;
    z-index: 99;
  }
 }
p2{
 font-size: 16px;
}
/*Services in homepage*/
.home-services{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
.services-block{
  position: relative;
  display: inline-block;
  padding: 20px;
}
.home-services img{
  width: 300px;
  height: 200px;
  overflow: hidden;
  }
.services-title {
 position: absolute;
 text-align: center;
 font-size: 24px;
 font-weight: bold;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%)
}
.services-title a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.explorebutton{
  font-size: 14px;
  text-shadow: 1px 1px black;
  padding: 5px;
  position: absolute;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  bottom: 40px;
  left: 37%;
}
.explorebutton a{
  text-decoration: none;
  color: white;
}

/*Footer*/
.footer{
  background-color:#1d4286;
  width: 100%;
  text-align:center;
  padding-bottom: 0%;
}
.social-media{
  position:relative;
  padding-top: 10px;
  text-align: center;
}
.social-media ul{
  text-align: center;
}
.social-media img{
  height: 30px;
  object-fit: contain;
  filter: grayscale(1) invert(1);
  align-items: center;
}
.social-media li{
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.footer-menu{
  text-align: center;
  display: inline-block;
}
.footer-menu li{
  display: inline-block;
  list-style: none;
  padding: 10px;
}
.footer-menu li a{
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.footer-menu li a:hover{
  color:#6cbe4c;
}
.footer p99{
  color:#6cbe4c;
  font-weight: bolder;
  text-align: center;
  position: relative;
  display: block;
  margin-left: 3%;
  font-size: 16px;
}
.footer p100{
  color: white;
  text-align: center;
  position: relative;
  display: block;
  font-size: 12px;
  margin-left: 3%;
}


/*About Us Page*/
/*Subpage Menu*/
.subpage-menu {
  min-height: 10vh;
  width: 100%;
  background-color:#1d4286;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: scroll;
  position: fixed;
  z-index: 98;
}
/*text "About Us" and "Welcome to..."*/
.subpage-title h1{
  font-size: 50px;
  font-family: Vladimir Script;
  color:#1d4286;
  font-weight:bold;
  text-align: center;
  padding-top: 5%;
}
.about-us{
  padding-top: 0;
  margin-right: 10%;
  margin-left: 10%;
  display: inline-block;
  position: relative;
}
.about-us img{
  margin-top: 2%;
  width: 25%;
  position: absolute;
  display: inline-block;
}

.about-us p{
  padding-left: 30%;
  text-align: justify;
  text-align-last: left;
  font-size: 80%;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 500px){
  .about-us{
    padding-top: 0;
    display: block;
    position: relative;
  }
  .about-us img{
    width: 60%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .about-us p{
    text-align:justify;
    text-align-last: left;
    font-size: 80%;
    position: relative;
    display:block;
    margin-right: 0%;
    padding-left: 0%;
  }
}
/*About Us page/Vision mission*/
.mission{
  background-color:#6cbe4c;
  border-style: solid;
  border-color: #1d4286;
  border-width: 30px;
  border-top: hidden;
  border-bottom: hidden;
  border-right: hidden;
  height: 100%;
  position: relative;
  top: 1%;
}
.mission h2{
  padding-top: 1%;
  padding-left: 5%;
  color:#1d4286;
  font-size: 200%;
  text-align:left;
  font-size: 150%;
}
.mission p{
  padding-top: 0;
  padding-left: 5%;
  padding-bottom: 4%;
  padding-right: 5%;
  color: rgb(54, 54, 54);
  text-align: justify;
  text-align-last: left;
  font-size: 80%;
}
.vision{
  background-color:#1d4286;
  border-style: solid;
  border-color:#6cbe4c;
  border-width: 30px;
  border-top: hidden;
  border-bottom: hidden;
  border-left: hidden;
  height: 100%;
  position: relative;
  margin-top:0;
}
.vision h2{
  padding-top: 1%;
  padding-right: 5%;
  color:#6cbe4c;
  font-size: 200%;
  text-align:right;
  font-size: 150%;
}
.vision p{
  padding-top: 0;
  padding-left: 5%;
  padding-bottom: 4%;
  padding-right: 5%;
  color:lightgrey;
  text-align: justify;
  text-align-last: left;
  font-size: 80%;
}

/*About Us page| Our team*/
.our-team-1{
  display: inline-block;
  text-align: center;
}
.jason{
  float: left;
  width: 33%;
  text-align: center;
}
.gary{
  float: left;
  width: 33%;
  text-align: center;
}
.neil{
  float: right;
  width: 33%;
  text-align: center;
}
.our-team-2{
  display: inline-block;
  text-align: center;
  padding-top: 3%;
}
.humphrey{
  float: left;
  width: 33%;
  text-align: center;
}
.sophie{
  float: left;
  width: 33%;
  text-align: center;
}
.rufus{
  float: right;
  width: 33%;
  text-align: center;
}
.our-team-3{
  display: inline-block;
  text-align: center;
  padding-top: 3%;
}
.clive{
  float: left;
  width: 33%;
  text-align: center;
}
.belinda{
  float: left;
  width: 33%;
  text-align: center;
}
.our-team img{
  width: 50%;
  border-radius: 50%;
}
.our-team p1{
  font-size: 80%;
  font-weight: bold;
  color:#1d4286;
}
.our-team p2{
  font-size: 80%;
  font-weight: bold;
  color: rgb(54, 54, 54);
}
.our-team p3{
  font-size: 70%;
  font-weight:initial;
  color: rgb(54, 54, 54);
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  display:block;
}
.our-team button{
  background-color:#1d4286;
  border: none;
  border-radius: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.our-team button a{
  text-decoration: none;
  color: white;
}
.our-team button a:hover{
  text-decoration: underline;
  transition: 0.3;
}
/*Resposive About us| Our Team*/
@media screen and (max-width: 500px){
  .our-team{
    position:relative
  }
  .our-team-1{
    display: block;
  }
  .jason{
    float: left;
    width: 100%;
    text-align: center;
  }
  .gary{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 2%;
  }
  .neil{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 2%;
  }
  .humphrey{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 2%;
  }
  .sophie{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 2%;
  }
  .rufus{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 2%;
  }
  .clive{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 2%;
  }
  .belinda{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 2%;
  }
  .our-team img{
    width: 30%;
  }
}

/*Services page/
/*Services list format*/
.services{
  position: relative;
  display: inline-block;
  background-color: #1d4286;
  border-radius: 10px;
  padding: 2%;
  margin-top: 0;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-right: 10%;
}
.services img{
  width: 25%;
  object-fit: contain;
  margin-left: 2%;
  float: left;
  padding-right: 5%;
  overflow: hidden;
}
.services-text{
  padding-left: 10%;
}
.services h2{
  color:#6cbe4c;
  font-size: 150%;
  padding-top: 0;
  text-align: left;
}
.services p2{
  color:white;
  font-size: 100%;
  text-align: justify;
  display: block;
  padding-left: 25%;
  padding-right: 5%;
}
.services p3 a{
  float: right;
  margin-right: 5%;
  color:#6cbe4c;
}
/*Responsive service list*/
@media screen and (max-width: 500px){
  .services{
    position: relative;
    background-color: #1d4286;
    border-radius: 10px;
    padding: 1%;
  }
  .services img{
    width: 80%;
    align-items: center;
    position: relative;
    padding-left: 8%;
    padding-top: 0;
  }
  .services-text{
    text-align: center;
    padding: 1%;
  }
  .services h2{
    color:#6cbe4c;
    font-size: 100%;
    padding-top: 0;
    text-align: center;
  }
  .services p2{
    color:white;
    font-size: 80%;
    text-align: left;
    display: block;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0
  }
  .service p3{
    display: block;
  }
  .services p3 a{
    font-size: 80%;
    float: right;
    margin-right: 5%;
    color:#6cbe4c;
    padding-bottom: 1%;
  }
}

/*Subpage of each services/
/*Service page - cover photo*/
.cover-photo{
  width: 100%;
  height: 30vw;
  background-image: linear-gradient(rgba(4,9,30,0.2), rgba(4,9,30,0.2)), url("photos/brewery-cover.jpg");
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  background-size: cover;
  display: block;
}
.cover-photo h1{
  color: white;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 0%;
  font-size: 250%;
  margin-bottom: 1%;
}
.cover-photo p{
  color: white;
  margin-left: 10%;
  font-size: 120%;
  font-weight: bold;
  margin-right: 20%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1%;
}
.book-now{
  padding: 1%;
  background-color: transparent;
  border-color:#6cbe4c;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 2%;
}
.book-now a{
  text-decoration: none;
  color:#6cbe4c;
  font-size: 100%;
}
.book-now a:hover{
  text-decoration: underline;
}
/*Subpage service small text below cover*/
.services-text{
  margin-top: 5%;
}
.services-text p1{
  text-align:justify;
  display: inline-block;
  color: rgb(54, 54, 54);
  margin-right: 10%;
}
/*Subpage services display 3 photos*/
.services-3-photo{
  display: inline-block;
}
.services-3-photo img{
  width: 26vw;
  height: 20vw;
  object-fit:cover;
  align-items: center;
}
/*Subpage services | Green box highlight*/
.highlight-service{
  padding: 3%;
  display: block;
  background-color:#6cbe4c;
  border-radius: 10px;
  color:#1d4286;
  margin-right: 11%;
}
.list{
  display: inline-block;
  text-align: justify;
  column-count: 2;
}
/*Subpage services | Collumn text*/
.column-text{
  column-count: 3;
  column-gap: 5%;
  margin-right: 11%;
  text-align: justify;
}
.line-text{
  margin-right: 11%;
  text-align: justify;
}

/*Subpage services | Price and contact person*/
/*Price box*/
.price-and-contact{
  margin-top: 5%;
  position:initial;
  padding-bottom: 5%;
  display: flex;
}
.price{
  display: float;
  float: left;
  width: fit-content;
  margin-left: 10%;
  background-color: #1d4286;
  border-radius: 10px;
  padding: 2%;
  color: white;
  font-weight: bolder;
  text-align: center;
}
.price p1{
  font-size: 150%;
  color:#6cbe4c
}
.book-now-2{
  padding: 2%;
  background-color:#6cbe4c;
  border-color:#6cbe4c;
  border-radius: 10px;
  font-weight: bold;
}
.book-now-2 a{
  text-decoration: none;
  color:#1d4286;
  font-size: 100%;
}
.book-now-2 a:hover{
  text-decoration: underline;
}
/*Contact tour person*/
.services-contact{
  display: float;
  margin-left: 15%;
  margin-right: 10%;
  width:fit-content;
  float: right;
  background-color: #1d4286;
  border-radius: 10px;
  padding: 3%;
  color: white;
  font-weight: bolder;
  text-align: center;
}
.services-contact p2{
  color:#6cbe4c;
}
.call-now{
  padding: 3%;
  background-color:#6cbe4c;
  border-color:#6cbe4c;
  border-radius: 10px;
  font-weight: bold;
}
.call-now a{
  text-decoration: none;
  color:#1d4286;
  font-size: 100%;
}
.call-now a:hover{
  text-decoration: underline;
}

/*Responsive service subpage*/
@media screen and (max-width: 700px){
  .cover-photo{
    width: 100%;
    height: 60vw;
    align-items: center;
    text-align: center;
  }
  .cover-photo h1{
    font-size: 180%;
    padding-top: 10%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .cover-photo p{
    color: white;
    font-size: 90%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
  }
  .book-now{
    padding: 1%;
    background-color: transparent;
    border-color:#6cbe4c;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
  }
  .book-now a{
    text-decoration: none;
    color:#6cbe4c;
    font-size: 100%;
  }
  .book-now a:hover{
    text-decoration: underline;
  }
  /*Subpage service small text below cover*/
  .services-text{
    margin-top: 5%;
    margin-left: 8%;
  }
  .services-text p1{
    text-align:justify;
    display: inline-block;
    color: rgb(54, 54, 54);
  }
  /*Subpage services display 3 photos*/
  .services-3-photo{
    display: relative;
  }
  .services-3-photo img{
    width: 78vw;
    height: 50vw;
    object-fit:cover;
    align-items: center;
    display: float;
    float: left;
    padding-bottom: 1%;
  }
  /*Subpage services | Green box highlight*/
  .highlight-service{
    padding: 3%;
    display: block;
    background-color:#6cbe4c;
    border-radius: 10px;
    color:#1d4286;
    text-align:left;
  }
  .list{
    display: inline-block;
    text-align: left;
    column-count: 2;
  }
  /*Subpage services | Collumn text*/
  .column-text{
    column-count: 1;
    column-gap: 5%;
    margin-right: 11%;
    text-align: justify;
  }
  
  /*Subpage services | Price and contact person*/
  /*Price box*/
  .price-and-contact{
    margin-top: 5%;
    padding-bottom: 5%;
    display: inline-block;
    position:relative;
    align-items: center;
  }
  .price{
    display: relative;
    width: 70%;
    margin-left: 12%;
    margin-right: 12%;
    background-color: #1d4286;
    border-radius: 10px;
    padding: 2%;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2%;
  }
  .price p1{
    font-size: 120%;
    color:#6cbe4c
  }
  .book-now-2{
    padding: 2%;
    background-color:#6cbe4c;
    border-color:#6cbe4c;
    border-radius: 10px;
    font-weight: bold;
  }
  .book-now-2 a{
    text-decoration: none;
    color:#1d4286;
    font-size: 100%;
  }
  .book-now-2 a:hover{
    text-decoration: underline;
  }
  /*Contact tour person*/
  .services-contact{
    display: relative;
    width:68%;
    float: left;
    margin-left: 12%;
    margin-right: 12%;
    background-color: #1d4286;
    border-radius: 10px;
    padding: 3%;
    color: white;
    font-weight: bolder;
    text-align: center;
  }
  .services-contact p2{
    color:#6cbe4c;
  }
  .call-now{
    padding: 3%;
    background-color:#6cbe4c;
    border-color:#6cbe4c;
    border-radius: 10px;
    font-weight: bold;
  }
  .call-now a{
    text-decoration: none;
    color:#1d4286;
    font-size: 100%;
  }
  .call-now a:hover{
    text-decoration: underline;
  }
}

/*Subpage Family Culture Package*/
/*Cover photo*/
.cover-photo-culture{
  width: 100%;
  height: 30vw;
  background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url("photos/culture-4.jfif");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  display: block;
}
.cover-photo-culture h1{
  color: white;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 0%;
  font-size: 250%;
  margin-bottom: 1%;
}
.cover-photo-culture p{
  color: white;
  margin-left: 10%;
  font-size: 120%;
  font-weight: bold;
  margin-right: 30%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1%;
}
@media screen and (max-width: 700px){
  .cover-photo-culture{
    width: 100%;
    height: 60vw;
    align-items: center;
    text-align: center;
  }
  .cover-photo-culture h1{
    font-size: 170%;
    padding-top: 10%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .cover-photo-culture p{
    color: white;
    font-size: 80%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
  }
}

/*Subpage Ferryland*/
/*Cover photo*/
.cover-photo-ferryland{
  width: 100%;
  height: 30vw;
  background-image: linear-gradient(rgba(4,9,30,0.2), rgba(4,9,30,0.2)), url("photos/ferryland-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  display: block;
}
.cover-photo-ferryland h1{
  color: white;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 0%;
  font-size: 250%;
  margin-bottom: 1%;
}
.cover-photo-ferryland p{
  color: white;
  margin-left: 10%;
  font-size: 120%;
  font-weight: bold;
  margin-right: 40%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1%;
}
@media screen and (max-width: 700px){
  .cover-photo-ferryland{
    width: 100%;
    height: 60vw;
    align-items: center;
    text-align: center;
  }
  .cover-photo-ferryland h1{
    font-size: 170%;
    padding-top: 10%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .cover-photo-ferryland p{
    color: white;
    font-size: 80%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
  }
}

/*Subpage Hiking*/
/*Cover photo*/
.cover-photo-hiking{
  width: 100%;
  height: 30vw;
  background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.4)), url("photos/hiking-1.jpg");
  background-repeat: no-repeat;
  background-position: center;;
  position: relative;
  background-size: cover;
  display: block;
}
.cover-photo-hiking h1{
  color: white;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 0%;
  font-size: 250%;
  margin-bottom: 1%;
}
.cover-photo-hiking p{
  color: white;
  margin-left: 10%;
  font-size: 120%;
  font-weight: bold;
  margin-right: 40%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1%;
}
@media screen and (max-width: 700px){
  .cover-photo-hiking{
    width: 100%;
    height: 60vw;
    align-items: center;
    text-align: center;
  }
  .cover-photo-hiking h1{
    font-size: 170%;
    padding-top: 10%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .cover-photo-hiking p{
    color: white;
    font-size: 80%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
  }
}

/*Subpage Whale*/
/*Cover photo*/
.cover-photo-whale{
  width: 100%;
  height: 30vw;
  background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.4)), url("photos/whale-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  display: block;
}
.cover-photo-whale h1{
  color: white;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 0%;
  font-size: 250%;
  margin-bottom: 1%;
}
.cover-photo-whale p{
  color: white;
  margin-left: 10%;
  font-size: 120%;
  font-weight: bold;
  margin-right: 40%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1%;
}
@media screen and (max-width: 700px){
  .cover-photo-whale{
    width: 100%;
    height: 60vw;
    align-items: center;
    text-align: center;
  }
  .cover-photo-whale h1{
    font-size: 170%;
    padding-top: 10%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .cover-photo-whale p{
    color: white;
    font-size: 80%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
  }
}